.content {
  z-index: 0;
  position: absolute;
  width: calc(100vw - 2rem);
  top: calc(2rem + 78px);
  left: 0;
  max-height: 100%;
  height: calc(100% - 4rem - 78px);
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
}

@media screen and (min-width: 499px) {
  .content {
    max-width: 100%;
    max-height: 100%;
    height: calc(100% - 4rem - 78px);
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    max-height: 100%;
    height: calc(100% - 4rem - 78px);
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
  }
}
